#!name=LightRoom

#!desc=Adobe LightRoom解锁






hostname=photos.adobe.io





^https:\/\/photos\.adobe\.io\/v2\/accounts* url script-response-body https://raw.githubusercontent.com/2023djash/2023djash/main/js/LightRoom.js
